@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.carouselImage {
  height: 100%;
  width: 100%;
}
.carouselimage {
  filter: brightness(27%);
  filter: drop-shadow(10%);
  position: relative;
  background-size: contain;
  background-repeat: no-repeat;
  color: #fff;
  line-height: 160px;
  text-align: center;
  background: #364d79;
}
.Carousel-DIV {
  position: relative;
}
.Carousel-DIV::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-image: linear-gradient(0deg, #0f0f0f, transparent);
}
.caraouselDetail {
  position: absolute;
  top: 0;
  display: flex;
  gap: 80px;
  padding-top: 20vh;
}

.carouselTitleDiv {
  margin-top: 40px;
  margin-left: 100px;
  color: white;
  font-size: 4.5rem;
  width: 700px;
  font-family: Montserrat;
  font-weight: 700;
  line-height: 1;
}
.flexCarouselText {
  display: flex;
  flex-direction: column;
}
.carouselposter {
  width: 360px;
  border-radius: 30px;
  filter: drop-shadow(2px 2px 4px #000000);
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.carouselOverview {
  margin-top: 30px;
  width: 700px;
  color: white;
  margin-left: 100px;
  font-size: 0.8rem;
  font-family: Montserrat;
  font-weight: bold;
}

.carouselButton {
  text-decoration: none;
  position: relative;
  border: none;
  font-size: 14px;
  font-family: inherit;
  cursor: pointer;
  color: #fff;
  width: 9em;
  height: 3em;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg, red, red, #f12121, red);
  background-size: 300%;
  border-radius: 30px;
  z-index: 1;
  margin-left: 100px;
  margin-top: 30px;
  filter: drop-shadow(2px 2px 4px #000000);
  font-weight: 600;
}

.carouselButton:hover {
  border: none;
}

.carouselButton:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, red, red, #f12121, red);
  background-size: 400%;
  border-radius: 35px;
  transition: 0.7s;
}

.carouselButton:hover::before {
  filter: blur(20px);
}

.carouselButton:active {
  background: linear-gradient(32deg, #6e0101, #f5125e, #880404, #9f0d0d);
}
.CarouselRating {
  color: white;
  margin-left: 110px;
  font-size: 1.4rem;
  margin-top: 20px;
  text-shadow: 2px 2px 8px black;
  font-family: roboto;
  font-weight: bold;
}

@media only screen and (max-width: 860px) {
  .caraouselDetail {
    padding-top: 13vh;
    gap: 20px;
  }
  .carouselimage {
    width: 100vw;
    height: 55vh;
    object-fit: cover;
    filter: brightness(45%);
  }
  .carouselTitleDiv {
    margin-top: 10px;
    margin-left: 40px;
    width: 70vw;
  }
  .carouselOverview {
    margin-top: 10px;
    width: 80vw;
    margin-left: 40px;
    font-weight: bold;
  }
  .caraouselPoster {
    display: none;
  }
  .CarouselRating {
    margin-left: 40px;
    margin-top: 13px;
    text-shadow: 2px 2px 8px black;
    font-family: roboto;
    font-weight: bold;
  }
  .carouselButton {
    margin-left: 50px;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .carouselTitleDiv {
    font-size: 1.7rem;
  }
  .carouselOverview {
    font-size: 0.59rem;
  }
  .CarouselRating {
    font-size: 1.2rem;
  }
  .carouselButton {
    font-size: 13px;
  }
}

@media only screen and (min-width: 501px) and (max-width: 750px) {
  .carouselTitleDiv {
    font-size: 2rem;
  }
  .carouselOverview {
    font-size: 0.6rem;
  }
  .CarouselRating {
    font-size: 1.2rem;
  }
  .carouselButton {
    margin-top: 20px;
    font-size: 13px;
  }
}

@media only screen and (min-width: 751px) and (max-width: 860px) {
  .carouselTitleDiv {
    font-size: 3rem;
  }
  .carouselimage {
    height: 65vh;
    width: 100vw;
  }
  .carouselOverview {
    font-size: 0.8rem;
  }
  .CarouselRating {
    font-size: 1.2rem;
  }
  .carouselButton {
    margin-top: 20px;
    font-size: 13px;
  }
}

@media only screen and (min-width: 861px) and (max-width: 1100px) {
  .caraouselDetail {
    padding-top: 10vh;
    gap: 20px;
  }
  .carouselimage {
    width: 100vw;
    height: 70vh;
  }
  .carouselTitleDiv {
    margin-left: 50px;
    font-size: 3.3rem;
    width: 60vw;
  }
  .carouselOverview {
    margin-left: 50px;
    font-size: 0.8rem;
    width: 60vw;
  }
  .CarouselRating {
    margin-left: 50px;
    font-size: 1.2rem;
  }
  .carouselButton {
    margin-left: 50px;
    margin-top: 20px;
    font-size: 13px;
  }
  .caraouselPoster {
    width: 260px;
    margin-top: 30px;
  }
}
@media only screen and (min-width: 1101px) and (max-width: 1300px) {
  .caraouselPoster {
    width: 300px;
    margin-top: 30px;
  }
  .caraouselDetail {
    padding-top: 14vh;
    gap: 20px;
  }
  .carouselTitleDiv {
    font-size: 3.7rem;
    width: 60vw;
  }
  .carouselOverview {
    font-size: 0.8rem;
    width: 60vw;
  }
}
