.text1{
  color: white;
  font-size: 1.4rem;
  margin-bottom: 16px;
}
footer {
  cursor: pointer;
  margin-top: 30px;
  display: flex;
  font-family: Roboto;
}
.FullFooter{
  position: relative;
}
.FullFooter::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-image: linear-gradient(180deg, #0f0f0f, transparent);
}
.section1 {
  margin-right: 60px;
}
.section2 {
  margin-left: 70px;
}
footer :hover {
  color: #fac23c;
}
.downcontainer {
  display: flex;
  flex-direction: column;
}
.socials {
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 10px;
}
.credit {
  margin-top: 12px;
  color: rgb(178, 174, 174);
  margin-left: 50px;
}
.belowlogo{
  position: relative;
  z-index: 9999;
}
.hover-target{
  border-radius: 8px ;
  background-color:rgba(0, 0, 0, 0.479) ;
  border: 4px solid rgba(0, 0, 0, 0.479);
  filter: drop-shadow(0px 0px 6px  #ffffff);
}
.hover-target:hover{
  transform: scale(1.08);
}
@media only screen and (max-width: 935px) {
  .text1{
    font-size: 1.1rem;
  }
  .section1 {
    margin-left: 10px;
  }
  .credit {
    margin-top: 12px;
    color: rgb(178, 174, 174);
    margin-left: 30px;
  }
}