@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Tektur:regular,500,600,700,800,900);
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}
header {
  backdrop-filter: saturate(120%) blur(1.5px);
  display: flex;
  height: 100px;
  width: 100vw;
  padding-left: 35px;
  padding-right: 35px;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 99999;
}
.logo {
  height: auto;
  max-height: 52px;
  filter: drop-shadow(2px 2px 4px #000000);
}
.NavItem {
  display: flex;
  gap: 40px;
  color: rgb(240, 240, 240);
  font-size: 1.4rem;
  font-weight: 500;
  font-family: Tektur;
  margin-left: -200px;
  text-shadow: 2px 2px 4px #000000;
}
.N1:after {
  display: block;
  content: "";
  border-bottom: 4px solid #fac23c;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
}
.N1:hover::after {
  transform: scaleX(1);
}
.NavItem :hover {
  color: #fac23c;
}
.rightSide {
  display: flex;
  gap: 20px;
}
.searchicon {
  margin-top: 2px;
}

@media only screen and (min-width: 1200px) {
  .logo {
    max-height: 52px;
  }
}

@media only screen and (min-width: 869px) and (max-width: 1199px) {
  header {
    padding-left: 4%;
    padding-right: 4%;
  }

  .logo {
    max-height: 42px;
  }

  .NavItem {
    gap: 27px;
    font-size: 1.2rem;
    margin-left: -100px;
  }
}
@media only screen and (max-width: 1000px) {
  header {
    padding-left: 3%;
    padding-right: 4%;
  }

  .NavItem {
    gap: 20px;
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 900px) {
  header {
    padding-left: 4%;
    padding-right: 4%;
  }

  .logo {
    max-height: 37px;
  }

  .NavItem {
    gap: 20px;
    font-size: 1.2rem;
    margin-left: -70px;
  }
  .nav1 {
    display: none;
  }
  .nav4 {
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  header {
    padding-left: 3%;
    padding-right: 3%;
    height: 80px;
  }

  .logo {
    max-height: 34px;
  }

  .NavItem {
    display: none;
  }
}
